page-manual-operations-tab {
   .list .label {
    font-size: 1.2em;
   }

}
.operations-toast {
  .toast-wrapper{
    background-color: map-get($colors, primary);
    opacity: 0.8;
    font-weight: bold;
  }
}
