<!--
  Generated template for the WifiSetupTabPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    Wifi Setup
</ion-header>


<ion-content padding>
    <div *ngIf="isSignedIn()">
        <ion-list *ngIf="setupStep > -1">
            <ion-item *ngIf="setupStep === 1">
                <h2 translate>MACHINE_SETUP.SEARCHING</h2>
                <ion-spinner color="primary" item-end></ion-spinner>
            </ion-item>


            <ion-item *ngIf="setupStep > 1">
                <h2 translate [translateParams]="{ssid: softAPSSID}">MACHINE_SETUP.FOUND_SSID</h2>
                <ion-icon name="checkmark-circle" color="secondary" item-end></ion-icon>
            </ion-item>

            <ion-item *ngIf="setupStep === 2">
                <h2 translate [translateParams]="{ssid: softAPSSID}">MACHINE_SETUP.CONNECTING_TO_SSID</h2>
                <ion-spinner color="primary" item-end></ion-spinner>
            </ion-item>

            <ion-item *ngIf="setupStep > 2 ">
                <h2 translate [translateParams]="{ssid: softAPSSID}">MACHINE_SETUP.CONNECTED_TO_SSID</h2>
                <ion-icon name="checkmark-circle" color="secondary" item-end></ion-icon>
            </ion-item>

            <ion-item *ngIf="setupStep === 3">
                <h2 translate>MACHINE_SETUP.GETTING_YOUR_DEVICE_ID</h2>
                <ion-spinner color="primary" item-end></ion-spinner>
            </ion-item>

            <ion-item *ngIf="setupStep > 3 ">
                <h2 translate>MACHINE_SETUP.GOT_DEVICE_ID</h2>
                <p translate [translateParams]="{deviceId: deviceId}">MACHINE_SETUP.DEVICE_ID</p>
                <ion-icon name="checkmark-circle" color="secondary" item-end></ion-icon>

                <!-- <ion-icon *ngIf="!isDeviceClaimed" name="checkmark-circle" color="secondary" item-end></ion-icon>
                <p *ngIf="isDeviceClaimed" color="danger">This device has already been claimed</p> -->

            </ion-item>

            <ion-item *ngIf="setupStep === 4">
                <h2 translate>MACHINE_SETUP.SCANNING_FOR_AP</h2>
                <ion-spinner color="primary" item-end></ion-spinner>
            </ion-item>

            <ion-item *ngIf="setupStep === 5">
                <h2 translate>MACHINE_SETUP.CONFIGURING_WIFI</h2>
                <p translate [translateParams]="{ssid: selectedSSID}">MACHINE_SETUP.USING_WIFI_AP</p>
                <ion-spinner color="primary" item-end></ion-spinner>
            </ion-item>

            <ion-item *ngIf="setupStep > 5">
                <div *ngIf="setupFailed">
                    <h2 translate>MACHINE_SETUP.FAILED_TO_CONFIGURE_WIFIi</h2>
                    <p translate [translateParams]="{ssid: selectedSSID}">MACHINE_SETUP.USING_WIFI_AP</p>
                    <ion-icon name="close-circle" color="danger" item-end></ion-icon>
                </div>
                <div *ngIf="!setupFailed">
                    <h2 translate >MACHINE_SETUP.COFFEE_MACHINE_CONFIGURED</h2>
                    <p translate [translateParams]="{ssid: selectedSSID}">MACHINE_SETUP.USING_WIFI_AP</p>
                    <ion-icon name="checkmark-circle" color="secondary" item-end></ion-icon>
                </div>
            </ion-item>

            <ion-item *ngIf="setupStep === 6">
                <h2 translate [translateParams]="{deviceId: deviceId}">MACHINE_SETUP.CLAIMING_DEVICE</h2>
                <ion-spinner color="primary" item-end></ion-spinner>
            </ion-item>

            <ion-item *ngIf="setupStep > 6">
                <h2 translate [translateParams]="{deviceId: deviceId}">MACHINE_SETUP.DEVICE_CLAIMED</h2>
                <ion-icon name="checkmark-circle" color="secondary" item-end></ion-icon>
            </ion-item>

            <ion-item *ngIf="setupStep === 7">
                <h2 translate>MACHINE_SETUP.DOWNLOADING_FIRMWARE</h2>
                <ion-spinner color="primary" item-end></ion-spinner>
            </ion-item>

            <ion-item *ngIf="setupStep > 7">
                <h2 translate>MACHINE_SETUP.FIRMWARE_DOWNLOADED</h2>
                <ion-icon name="checkmark-circle" color="secondary" item-end></ion-icon>
            </ion-item>

            <ion-item *ngIf="setupStep === 8">
                <h2 translate>MACHINE_SETUP.UPDATING_FIRMWARE</h2>
                <ion-spinner color="primary" item-end></ion-spinner>
            </ion-item>

            <ion-item *ngIf="setupStep > 8">
                <h2 translate>MACHINE_SETUP.FIRMWARE_UPDATED</h2>
                <ion-icon name="checkmark-circle" color="secondary" item-end></ion-icon>
            </ion-item>
        </ion-list>
        <ion-card *ngIf="setupStep === -1">
            <ion-card-content>
                <h2>To setup your coffee machine's WiFi, do the following</h2>
                <ul>
                    <li>Hold the Blue WiFi button down for 3 seconds until you see it blinking blue </li>
                    <li>Click on
                        <b>Setup</b> to initiate the configuration process</li>
                </ul>
            </ion-card-content>
        </ion-card>
    </div>
    <div *ngIf="!isSignedIn()">
        <ion-item color="danger">
            {{ 'MAIN.NOT_SIGNED_IN' | translate}}
        </ion-item>
    </div>
</ion-content>

<ion-footer *ngIf="isSignedIn()" text-center>

    <button *ngIf="!setupFailed" ion-button [disabled]="setupStep > 0 && setupStep < 9" (click)="setup()">Setup</button>
    <button *ngIf="setupFailed" ion-button [disabled]="!setupFailed" (click)="setup()">Retry</button>

</ion-footer>
