page-metrics-tab {
    
    .card-header {
        text-align: center;
        font-size: 1.5em;
        color: map-get($map: $colors, $key: metrics-header);
    }
    .card-content {
        text-align: center;
        font-size: 2em;
        color: map-get($colors, metrics-value)
    }
}
